<footer>
    <!-- navbar bottom  -->
<nav class="navbar fixed-bottom navbar-expand">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav d-flex justify-content-evenly w-100">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"
              ><i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-regular fa-comment"></i></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link pt-0 px-3 pb-3"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#addTask"
              ><i class="fa-solid fa-plus"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-regular fa-bell"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fa-regular fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-gear"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- offcanvas bottom add btn  -->
  <div class="offcanvas offcanvas-bottom" id="addTask">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body small">...</div>
  </div>
</footer>
</body>
</html>