<footer>
  <!-- navbar bottom -->
  <nav class="navbar fixed-bottom navbar-expand">
    <div class="container-md">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav d-flex justify-content-evenly w-100">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index">
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list_task">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat"><i class="fa-regular fa-comment"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pt-0 px-3 pb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#addTask">
              <i class="fa-solid fa-plus"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notification"><i class="fa-regular fa-bell"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fa-regular fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting"><i class="fa-solid fa-gear"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% if(locals.user){ %>
  <!-- offcanvas bottom add btn -->
  <div class="offcanvas offcanvas-bottom h-100 container-md" id="addTask">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasBottomLabel">Create Project</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form action="/addTask" method="post">
        <div class="form-group">
          <label>Project Name</label>
          <input type="text" class="form-control" placeholder="Project Name" name="project_name"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="Description" name="description"/>
        </div>  
        <div class="form-group">
          <label>Priority</label>
          <div>
            <select name="priority" class="form-control">
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
            </select>
          </div>
          
        </div> 
        <div class="form-group d-md-flex justify-content-between">
          <div class="col-md-6 col-sm-12 row">
            <label class="d-flex align-items-center me-2 col-2" >Start date</label>
            <input type="datetime-local" class="form-control w-50 col-md-6 col-sm-12" name="startdate"/>
          </div>
          <div class="col-md-6 col-sm-12 row mt-4 mt-sm-0">
            <label class="d-flex align-items-center me-2 col-2">End date</label>
            <input type="datetime-local" class="form-control w-50 col-md-6 col-sm-12" name="enddate"/>
          </div>
          
        </div> 
        <div class="form-group">
          <label>Type</label>
          <select class="form-control" name="type">
            <option value="1">Personal</option>
            <option value="2">Business</option>
          </select>
        </div>
        <input type="hidden" name="id_user" value="<%= locals.user.id_user %>"/>
        <button class="mt-5 btn btn-primary border-0" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <% } else { %>
  <!-- offcanvas bottom khi chưa đăng nhập  -->
  <div class="offcanvas offcanvas-bottom h-100 container-md" id="addTask">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasBottomLabel">Please log in before using this feature!</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <a href="/login-signUp" class="btn btn-primary border-0">Login / Sign-up</a>
    </div>
  </div>
  <% } %>
</footer>

</body> 
</html>
