<%- include("./partials/header.ejs") %>
<!-- nav -->
<nav class="navbar bg-transparent">
  <div class="container-md d-flex justify-content-center border-bottom">
    <h5 class="mb-3">Profile</h5>
  </div>
</nav>

<!-- content  -->
<div class="container-md mt-2">
  <a data-bs-toggle="collapse" href="#task" class="link-dark"> Today </a>
  <div class="collapse show" id="task">
    <div
      class="my-4 p-2 w-100 d-flex rounded"
      style="background-color: #f3f3f3"
    >
      <p class="w-75 m-0">Task name</p>
      <p class="m-0">End date</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex p-2">
        <a href="" class="link-dark w-75 overflow-hidden">Mua vé xem phim</a>
        <p>22/12/2024</p>
      </li>
      <li class="list-group-item d-flex p-2">
        <a href="" class="link-dark w-75 overflow-hidden">Mua vé xem phim</a>
        <p>22/12/2024</p>
      </li>
      <li class="list-group-item d-flex p-2">
        <a href="" class="link-dark w-75 overflow-hidden">Mua vé xem phim</a>
        <p>22/12/2024</p>
      </li>
    </ul>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
