<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/login-signUp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <% if (locals.errorMessage) { %>
    <script>
      alert("<%= errorMessage %>");
      window.location.href = "/login-signUp";
    </script>
    <% } %>

    <div class="container" id="container">
      <div class="form-container sign-in">
        <form method="post" action="/login">
          <!-- Sign in -->
          <h1><strong>Sign In</strong></h1>
          <!-- icon -->
          <div class="social-icons">
            <a href="" class="icon"
              ><i class="fa-brands fa-google-plus-g" style="color: #000000"></i
            ></a>
            <a href="#" class="icon"
              ><i class="fa-brands fa-facebook-f" style="color: #000000"></i
            ></a>
            <a href="" class="icon"
              ><i class="fa-brands fa-github" style="color: #000000"></i
            ></a>
            <a href="" class="icon"
              ><i class="fa-brands fa-instagram" style="color: #000000"></i
            ></a>
          </div>
          <p>or use your email password</p>
          <!-- type account -->
          <div class="account-input">
            <input type="text" placeholder="Username" name="username" /><br />
            <input
              type="Password"
              placeholder="Password"
              name="password"
            /><br />
          </div>
          <!-- forgot password -->
          <a href="" class="forgot-password"><p>Forgot Your Password?</p></a>
          <!-- button sign -->
          <button class="sign-button" type="submit">SIGN IN</button>
        </form>
      </div>

      <div class="introduce sign-in">
        <h1>Hello, Friend!</h1>
        <p>Register with your personal details to use all of site features</p>
        <button class="change-sign-up">SIGN UP</button>
      </div>
      <div class="introduce sign-up">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button class="change-sign-in">SIGN IN</button>
      </div>

      <!-- sign up -->
      <div class="form-container sign-up">
        <form action="/register" method="post">
          <h1><strong>Create Account</strong></h1>
          <!-- icon -->
          <div class="social-icons">
            <a href="" class="icon"
              ><i class="fa-brands fa-google-plus-g" style="color: #000000"></i
            ></a>
            <a href="#" class="icon"
              ><i class="fa-brands fa-facebook-f" style="color: #000000"></i
            ></a>
            <a href="" class="icon"
              ><i class="fa-brands fa-github" style="color: #000000"></i
            ></a>
            <a href="" class="icon"
              ><i class="fa-brands fa-instagram" style="color: #000000"></i
            ></a>
          </div>
          <p>or use your email for registeration</p>
          <!-- type account -->
          <div class="account-input">
            <input type="text" placeholder="name" name="name" /><br />
            <input type="text" placeholder="username" name="username" /><br />
            <input type="email" placeholder="email" name="email" /><br />
            <input
              type="password"
              placeholder="password"
              name="password"
            /><br />
          </div>
          <!-- button sign -->
          <button class="sign-button">SIGN UP</button>
        </form>
      </div>
    </div>
    <script src="./js/login-signUp.js"></script>
  </body>
</html>
