<%- include("./partials/header.ejs") %>
<!-- nav -->
<nav class="navbar bg-transparent mb-3">
  <div class="container-md d-flex justify-content-center border-bottom">
    <h5 class="mb-2">Notification</h5>
  </div>
</nav>

<!-- content  -->
<div class="content container-md mt-3">
  <div class="title">
    <h6>Today</h6>
    <!-- list group notif  -->

    <div class="list-group">
      <!-- list item notif  -->
      <a
        href="#"
        class="list-group-item list-group-item-action mb-2 rounded border"
      >
        <div class="d-flex">
          <!-- icon  -->
          <div class="d-flex align-items-center">
            <img
              class="rounded-circle me-2"
              style="width: 50px; height: auto"
              src="./images/user.jpg"
              alt="logo_user"
            />
          </div>
          <!-- information notification   -->
          <div class="w-100">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
          </div>
        </div>
      </a>
      <!-- list item notif  -->
      <a
        href="#"
        class="list-group-item list-group-item-action mb-2 rounded border"
      >
        <div class="d-flex">
          <!-- icon  -->
          <div class="d-flex align-items-center">
            <img
              class="rounded-circle me-2"
              style="width: 50px; height: auto"
              src="./images/user.jpg"
              alt="logo_user"
            />
          </div>
          <!-- information notification   -->
          <div class="w-100">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
