<%- include("./partials/header.ejs") %>
<div class="container mt-sm-4 mb-5">
  <div class="row gap-3 justify-content-center mb-5 pb-5">
    <div class="card text-center col-md-3 p-0">
      <div class="card-header bg-transparent"><Strong>Featured</Strong></div>
      <div class="card-body p-0">
        <div class="list-group p-0 rounded-0 border-0">
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 bg-secondary text-white"
          >
            Cras justo odio
          </a>
          <a href="#" class="list-group-item list-group-item-action border-0"
            >Dapibus ac facilisis in</a
          >
          <a href="#" class="list-group-item list-group-item-action border-0"
            >Morbi leo risus</a
          >
          <a href="#" class="list-group-item list-group-item-action border-0"
            >Porta ac consectetur ac</a
          >
          <a href="#" class="list-group-item list-group-item-action border-0"
            >Vestibulum at eros</a
          >
        </div>
      </div>
      <a href="#" class="btn btn-primary border-0 rounded-0 rounded-bottom"
        >Go somewhere</a
      >
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
